<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ed3be">  <td>18/05/24 16:28:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckNAV.finish()[pri:0, instance:TestCase.CheckNAV@548e6d58]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/05/24 16:27:58</td>   <td>-30552</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckNAV.setup()[pri:0, instance:TestCase.CheckNAV@548e6d58]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/05/24 16:28:19</td>   <td>-10148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckNAV.verifyLogo()[pri:3, instance:TestCase.CheckNAV@548e6d58]">verifyLogo</td> 
  <td>main@843512726</td>   <td></td> </tr>
</table>
