<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ed3be">  <td>18/05/24 14:52:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckNAV.finish()[pri:0, instance:TestCase.CheckNAV@623a8092]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>18/05/24 14:53:19</td>   <td>36748</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CheckPageTitleAndNavigation.finish()[pri:0, instance:TestCase.CheckPageTitleAndNavigation@236e3f4e]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/05/24 14:52:01</td>   <td>-41039</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckNAV.setup()[pri:0, instance:TestCase.CheckNAV@623a8092]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>18/05/24 14:52:43</td>   <td>1165</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CheckPageTitleAndNavigation.setup()[pri:0, instance:TestCase.CheckPageTitleAndNavigation@236e3f4e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>18/05/24 14:53:03</td>   <td>21475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckPageTitleAndNavigation.verifyFinancialPage()[pri:2, instance:TestCase.CheckPageTitleAndNavigation@236e3f4e]">verifyFinancialPage</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/05/24 14:52:21</td>   <td>-21288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckNAV.verifyNAV_MainItem()[pri:1, instance:TestCase.CheckNAV@623a8092]">verifyNAV_MainItem</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/05/24 14:52:21</td>   <td>-21183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckNAV.verifyNAV_SubMenu()[pri:2, instance:TestCase.CheckNAV@623a8092]">verifyNAV_SubMenu</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>18/05/24 14:53:01</td>   <td>18800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckPageTitleAndNavigation.verifyPageTileAndURL()[pri:1, instance:TestCase.CheckPageTitleAndNavigation@236e3f4e]">verifyPageTileAndURL</td> 
  <td>main@1646464088</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>18/05/24 14:53:10</td>   <td>28521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckPageTitleAndNavigation.verifyRealEstatePage()[pri:3, instance:TestCase.CheckPageTitleAndNavigation@236e3f4e]">verifyRealEstatePage</td> 
  <td>main@1646464088</td>   <td></td> </tr>
</table>
